XHS_PORT=18060
XHS_MAX_CONCURRENCY=4
XHS_ACCOUNT_MAX_CONCURRENCY=1
XHS_ACQUIRE_TIMEOUT=180s
XHS_MAX_BROWSER_SESSIONS=4
XHS_BROWSER_JANITOR_INTERVAL=2m
XHS_BROWSER_PROCESS_WARN_LIMIT=24
XHS_BROWSER_PROCESS_KILL_LIMIT=32
XHS_ACCOUNT_QUEUE_CAPACITY=3
XHS_MAX_OUTSTANDING_JOBS=128
XHS_ACCOUNT_COOLDOWN_FAILURES=3
XHS_ACCOUNT_COOLDOWN_DURATION=10m
XHS_PROXY=
